body{
    margin: 0;
    background-color: #0a0a0a;
    color: #ffffff;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.5rem;
}

.cabecalho{
    background-color: #151515;
    width: 100%;
}

.gigante{
    animation-name: animacao;
    animation-duration: 1.5s;
}

.menu{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
    padding-bottom: 1rem; 
}

.menu a{
    font-size: 1.15rem;
    color: #d92626;
    text-decoration: none;
    
    border: 2px solid transparent;
    padding: 4px;
}

.menu a:hover{
    border: 2px solid;
    border-color: #d92626;
    border-radius: 5px;
}

h1{
    font-size: 2.75rem;
    text-align: center;
}

h2{
    font-size: 1.5rem;
    text-align: center;
}

p{
    text-align: justify;
}

mark{
    background-color: #d92626;
    color: white;
}

li{
    list-style-image: url(imagens/iconevasco.png);
    padding: 0.5rem;
}

table{
    border-collapse: collapse;
    border: none;
}

th{
    background-color: #d92626;
    height: 50px;
    border: none;
    
    padding: 8px;
}

td{
    padding: 8px;
    text-align: center;
    
    border: none;
    border-bottom: 1px solid white;
}

td.funcao{
    font-weight: bold;
    color: #d92626;
}

img{
   max-width: 100%; 
}

#hino-div{
    border: 2px solid #d92626;
    border-radius: 5px;
    
    padding: 2rem;
    
    font-style: italic;
    font-family: "times new roman", serif;
}

#mengao{
    font-size: 0.6rem;
}

@keyframes animacao{
    from{
	    letter-spacing: 50px;
	}
	
    to{
		letter-spacing: normal;
	}
}

@media screen and (min-width: 768px) {
    .menu{
        flex-direction: row;
    }
}

@media print{
    body{
        background-color: white;
        color: black;
    }
    .menu{
        display: none;
    }
    img{
        display: none;
    }
}


